.session-pricing {
  &__content {
    margin-bottom: 1rem;
  }
  &__plan .card-body {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
  }
  &__plan-feature {
    grid-column: span 2;
  }
  &__plan--featured {
    border: 2px solid var(--col-secondary-400);
    box-shadow: 0 0 10px rgba(112, 79, 87, 0.5);
    background-color: var(--col-neutral-50);
  }
}
